@media screen and (max-width:400px) {
    .logo-container {
        padding: 0;
        margin: 2px;
    }
    .logo {
        padding: 0;
        margin: 2px;
    }
    .nav-container {
        padding: 0 20px;
        margin: 0;
        margin-top: -40px;
    }
}

body {
    background-color: #F1F3F3;
}
.site-bounds {
    max-width: 1000px;
    margin: 20px auto;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-top: 25px;
}
.navbar {
    border-radius: 0;
}

.searchbox {
    margin-top: 5px;
    border: none;
    border-radius: 0;
    background-color: #DDD;
    height: 32px;
}
.searchbox:focus {
    border: 1px;
    border-color: #232323;
    box-shadow: 0 0 10px #272727;
}

@media (max-width: 768px) {
    .searchbox {
        margin-top: 5px;
        max-width: 100%;
    }
}

.searchbutton {
    background-color: #BBB;
    display: none;

    border: 1px;
    border-color: #232323;
    box-shadow: 0 0 10px #272727;
}

.mts-button {
    margin-top: 5px;
    border: none;
    border-radius: 0;
    color: #606060;
    background-color: #DDD;
}
.mts-button:hover {
    background-color: #999;
    color: #EEE;
}

.searchbox::-webkit-input-placeholder { /* WebKit browsers */
    color: #606060;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #606060;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #606060;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #606060;
}

.page-options {
    margin: 0;
}

.disclaimer-row {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 10px;
    color: #444444;
    opacity: 0.6;
    padding: 5px;
}
.disclaimer-row a, .disclaimer-row a:visited {
    color: #111111;
}
.disclaimer-row-right-text {
    float: right;
}

.pretty-image {
        -webkit-animation: fadein 1s; /* Safari and Chrome */
           -moz-animation: fadein 1s; /* Firefox */
            -ms-animation: fadein 1s; /* Internet Explorer */
             -o-animation: fadein 1s; /* Opera */
                animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Dropdown for user & lightbox */
.dropdown-slider {
    position: absolute;
    z-index: 10;
    display: none;
}

.dropdown-button {
    display: table;
    position: relative;
    z-index:15;

    border: 1px;
    border-color: #232323;
    box-shadow: 0 0 10px #272727;

    text-align: left;
}

.lightbox-remove-icon {
    background-color: #C2C2C2;
    position: absolute;
    top: 0;
    margin-left: 10px;
    padding: 7px 9px 5px 10px;
}
.lightbox-remove-icon:hover {
    background-color: #525253;
}
.lightbox-remove-icon:hover span {
    color: #C2C2C2;
}
