.feature-area {
    max-width: 1000px;
}

.feature-link {
    position: relative;
    width: 100%;
    float: left;
}

.feature-link:hover .feature-hover-text {
    transition: opacity 0.2s linear, background-color 0.1s linear;
    opacity: 1;
    background-color: rgba(50, 50, 50, 0.4);
}

@media screen and (max-width: 400px) {
    .feature-link {
        float: inherit;
        /*width: 100%;*/
        /*display: block;*/
    }
    .primary-feature-link {
        width: 100%;
        display: block;
    }
    .secondary-feature-link {
        width: 100%;
        display: block;
    }
    .feature-hover-text {
        opacity: 1 !important;
        background-color: rgba(50, 50, 50, 0.4) !important;
    }
}
@media screen and (min-width: 401px) {
    .primary-feature-link {
        width: 60%;
        height: auto;
    }

    .secondary-feature-link {
        width: 40%;
        height: auto;
    }
}
.feature-hover-text {
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 10px;
    width: 100%;
    color: #EEE;
    font-size: 12pt;
    font-weight: 100;
    letter-spacing: 1px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
}
.clear-fix {
    clear: both;
}