{% load staticfiles %}
<html lang="en">
    <head>
        <title>Matthew Turley Stock Photography | {% block page_title %}Base{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .page-wrapper {
                min-height: 560px;
                max-width: 980px;
                margin: 0 auto;
            }
            .photo-wrapper {
                position: relative;
                display: block;
                min-height: 600px;
            }
        </style>
        {% block head_area %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="page-wrapper">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mts-navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#"><span>Matthew Turley Stock Photography</span></a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="mts-navbar-collapse">

                                <ul class="nav navbar-nav navbar-left">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Pricing &amp; FAQ</a></li>
                                <li><a href="#">Contact</a></li>
                                </ul>

                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control hidden-sm search-box" placeholder="Search">
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" onclick="search(this)"><span class="glyphicon glyphicon-search"></span></button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Options<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu"> <!-- Need to make this styled like a dropdown, but not act like one -->
                                            <li><a href="#">Color</a></li>
                                            <li><a href="#">Black &amp; White</a></li>
                                            <li><a href="#">Vertical</a></li>
                                            <li><a href="#">Horizontal</a></li>
                                            <li><a href="#">Panoramic</a></li>
                                        </ul>
                                    </div>
                                </form>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </nav>

                    <hr>

                    <div class="photo-wrapper">
                        {% block content %}{% endblock %}
                    </div>

                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script>
          function search(sender) {
            if($(".search-box").is(':visible')) {
              //Just go ahead with the search
            } else {
              //Need to show the search box is a not-ugly way
            }
          }
        </script>
        {% block put_script_tags_here %}{% endblock %}
    </body>
</html>