{% extends "base.html" %}
{% block page_title %}Gallery {{ gallery.name }}{% endblock %}
{% block head_area %}
<style>
html {
    overflow-y: scroll;
}
.photo-square {
    float: left;
    width: 100%;
    height: auto;
    margin: 0 -1px -1px 0;
    border: 1px solid #e5e5e5;
{#    border-radius: 10px;#}
{#    border-color: #C1C1C1;#}
{#    background-color: #555555;#}
           transition : background-color 500ms ease-out;
   -webkit-transition : background-color 500ms ease-out;
      -moz-transition : background-color 500ms ease-out;
        -o-transition : background-color 500ms ease-out;
}
.photo-square:hover {
    background-color: #d4d4d4;
}

.photo-preview {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
}

.photo-wrapper {
    margin: 10px;
}

@media screen and (max-width:399px) {
    body {
        overflow: hidden;
    }
    .photo-preview {
        position: relative;
        display: block;
        margin: 2px auto;
    }
    .photo-square{
        position: relative;
        height: auto;
        width: 100%;
{#        margin: 2px auto;#}
    }
    .photo-wrapper {
        position: relative;
{#        margin: 0 auto;#}
    }
}

@media screen and (min-width:400px) {
    body {
        /* max-width: 1600px; */
        overflow: hidden;
    }
    .photo-square{
        position: relative;
        top: 0;
        overflow: hidden;
        height: auto;
        width: 100%;
        padding-bottom: 50%;
    }
    .photo-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
{#        margin: auto;#}
    }
}
@media screen and (min-width:400px) {
    .photo-square {
        width: 50%;
        padding-bottom: 50%;
    }
        .photo-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
{#        margin: auto;#}
    }
}
/* Three Column */
@media screen and (min-width:500px) {
    .photo-square {
        width: 33.3333%;
{#        margin: 0 auto;#}
        padding-bottom: 33.3333%;
    }
}
/* Four Column */
 @media screen and (min-width:800px) {
    .photo-square {
        width: 25%;
        padding-bottom: 25%;
    }
    .photo-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
{#        margin: auto;#}
        clear: both;
    }
}

#fluid-holder {
    background-color: #666468;
}

</style>
{% endblock %}

{% block page_option_info %}<h3>{{ gallery.name }}</h3>{% endblock %}
{% block page_option_add_to_lightbox %}<div class="pagination">
        <span class="step-links">
            {% if photos.has_previous %}
                <a href="?page={{ photos.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ photos.number }} of {{ photos.paginator.num_pages }}
            </span>

            {% if photos.has_next %}
                <a href="?page={{ photos.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>{% endblock %}
{% block page_option_extra_item %}{% endblock %}
{% block page_content %}
    <hr>
    <div id="fluid-holder">
    {% for photo in photos %}
        <a class="photo-square" href="{% url 'view_photo' photo.id %}">
            <div class="photo-wrapper">
                <img src="{{ photo.preview.url }}" class="photo-preview pretty-image" />
{#                <span class="photo-info">{{ photo }}</span>#}
            </div>
        </a>
    {% endfor %}
    </div>

{% endblock %}