{% extends "base.html" %}
{% load staticfiles %}
{% block page_name %}{{ gallery.name }}{% endblock %}
{% block head_area %}
<link rel="stylesheet" href="{% static "gallery.css" %}">
{% endblock %}

{% block page_option_info %}<h3>{{ gallery.name }}</h3>{% endblock %}
{% block page_option_add_to_lightbox %}<div class="pagination">
        <span class="step-links">
            {% if photos.has_previous %}
                <a href="?page={{ photos.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ photos.number }} of {{ photos.paginator.num_pages }}
            </span>

            {% if photos.has_next %}
                <a href="?page={{ photos.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>{% endblock %}
{% block page_option_extra_item %}{% endblock %}
{% block page_content %}
    <hr>
    <div id="fluid-holder">
    {% for photo in photos %}
        <a class="photo-square" href="{% url 'view_photo' photo.id %}">
            <div class="photo-wrapper">
                <img src="{{ photo.preview.url }}" class="photo-preview pretty-image" />
            </div>
        </a>

    {% empty %}
        <h1>There don't seem to be any photos in this gallery<br><small>Please, check back later</small></h1>
    {% endfor %}
    </div>

{% endblock %}