{% extends "base.html" %}
{% load staticfiles %}
{% block page_name %}Home{% endblock %}
{% block head_area %}
    <link href="{% static "responsive-carousel.css" %}" rel="stylesheet">
    <link href="{% static "responsive-percent-based-features.css" %}" rel="stylesheet">
{% endblock %}
{% block page_option_info %}{% endblock %}
{% block page_option_add_to_lightbox %}{% endblock %}
{% block page_option_extra_item %}{% endblock %}
{% block page_content %}
            <div class="feature-area">
                <a class="feature-link primary-feature-link" href="{% url 'view_gallery' primary_target_gallery %}">
                    <img src="/media/{{ primary_feature_img }}" class="pretty-image img-responsive">
                    <span class="feature-hover-text"><span style="font-size: 20pt">{{ primary_feature_heading }}</span><br> {{ primary_feature_subheading }}</span>
                </a>
                <a class="feature-link secondary-feature-link" href="{% url 'view_gallery' secondary_target_gallery %}">
                    <img src="/media/{{ secondary_feature_img }}" class="pretty-image img-responsive">
                    <span class="feature-hover-text"><span style="font-size: 20pt">{{ secondary_feature_heading }}</span><br> {{ secondary_feature_subheading }}</span>
                </a>
                <div class="clear-fix"></div>
            </div>
            <div class="responsive-carousel">
                    <div class="rc-arrow-absolute">
{#                        <!-- We should consider making this next span a button... -->#}
                        <span class="rc-arrow-container rc-arrow-container-left" onclick="responsiveCarouselArrow('right')">
                            <span class="rc-arrow">&lt;</span>
                        </span>
                    </div>
                    <div class="rc-mask">
                        <div class="rc-container">
                            <div class="rc-item-collection">
                                {% for gallery_thumb in thumbnail_galleries %}
                                <a href="{% url "view_gallery" gallery_thumb.id %}" class="rc-item">
                                    <img class="pretty-image rc-thumbnail" src="{{ gallery_thumb.cover_photo.preview.url }}">
                                    <span class="rc-item-info">{{ gallery_thumb.name }}</span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="rc-arrow-absolute">
                        <span class="rc-arrow-container rc-arrow-container-right" onclick="responsiveCarouselArrow('left')">
                            <span class="rc-arrow">&gt;</span>
                        </span>
                    </div>
                </div>
{% endblock %}{% block put_scripts_here %}    <script src="{% static 'responsive-carousel.js' %}"></script>{% endblock %}