{% extends "base.html" %}
{% load staticfiles %}
{% block page_name %}Home{% endblock %}
{% block head_area %}
    <link href="{% static "responsive-carousel.css" %}" rel="stylesheet">
    <link href="{% static "responsive-percent-based-features.css" %}" rel="stylesheet">
{% endblock %}
{% block page_option_info %}{% endblock %}
{% block page_option_add_to_lightbox %}{% endblock %}
{% block page_option_extra_item %}{% endblock %}
{% block page_content %}
            <div class="feature-area">
                <a class="feature-link primary-feature-link" href="#">
                    <img src="http://dummyimage.com/600x400/777/CCC" class="pretty-image img-responsive">
                    <span class="feature-hover-text">OSWAP The Open Source Web Application Project. Sounds Tricky</span>
                </a>
                <a class="feature-link secondary-feature-link" href="#">
                    <img src="http://dummyimage.com/400x400/CCC/777" class="pretty-image img-responsive">
                    <span class="feature-hover-text">CSRF Token: Cross-Site Request Forgery Token. Used extensively by Django</span>
                </a>
                <div class="clear-fix"></div>
            </div>
            <div class="responsive-carousel">
                    <div class="rc-arrow-absolute">
{#                        <!-- We should consider making this next span a button... -->#}
                        <span class="rc-arrow-container rc-arrow-container-left" onclick="responsiveCarouselArrow('left')">
                            <span class="rc-arrow">&lt;</span>
                        </span>
                    </div>
                    <div class="rc-mask">
                        <div class="rc-container">
                            <div class="rc-item-collection">
                                {% for gallery_thumb in thumbnail_galleries %}
                                <a href="{% url "view_gallery" gallery_thumb.id %}" class="rc-item">
                                    <img class="pretty-image rc-thumbnail" src="{{ gallery_thumb.cover_photo.preview.url }}">
                                    <span class="rc-item-info">{{ gallery_thumb.name }}</span>
                                </a>
                                {% endfor %}
{#                            These are just for testing :)               #}
{#                                <a href="#" class="rc-item">#}
{#                                    <img class="pretty-image" src="http://dummyimage.com/300x200/DDD/222.png&text=Carousel Image">#}
{#                                    <span class="rc-item-info">First Carousel Image</span>#}
{#                                </a>#}
{#                                <a href="#" class="rc-item">#}
{#                                    <img class="pretty-image" src="http://dummyimage.com/300x200/222/DDD.png&text=Carousel Image">#}
{#                                    <span class="rc-item-info">Second Carousel Image</span>#}
{#                                </a>#}
{#                                <a href="#" class="rc-item">#}
{##}
{#                                    <img class="pretty-image" src="http://dummyimage.com/300x200/DDD/222.png&text=Carousel Image">#}
{#                                    <span class="rc-item-info">Third Carousel Image</span>#}
{#                                </a>#}
{#                                <a href="#" class="rc-item">#}
{##}
{#                                    <img class="pretty-image" src="http://dummyimage.com/300x200/222/DDD.png&text=Carousel Image">#}
{#                                    <span class="rc-item-info">Fourth Carousel Image</span>#}
{#                                </a>#}
{#                                <a href="#" class="rc-item">#}
{##}
{#                                    <img class="pretty-image" src="http://dummyimage.com/300x200/DDD/222.png&text=Carousel Image">#}
{#                                    <span class="rc-item-info">Fifth Carousel Image</span>#}
{#                                </a>#}
                            </div>
                        </div>
                    </div>
                    <div class="rc-arrow-absolute">
                        <span class="rc-arrow-container rc-arrow-container-right" onclick="responsiveCarouselArrow('right')">
                            <span class="rc-arrow">&gt;</span>
                        </span>
                    </div>
                </div>
{% endblock %}
{% block put_scripts_here %}
    <script>
    var incrementAmount = 300;
    var animationSpeed = 200;
    function responsiveCarouselArrow(direction) {
        var carouselContentWidth = $($(".rc-item-collection")[0]).width();
        var currentOffset = parseInt($($(".rc-container")[0]).css("left"));
        var viewWidth = $($(".rc-mask")).width();
        var overhang = carouselContentWidth - (Math.abs(currentOffset) + viewWidth);
        if(direction == 'left') {
{#            var newLeft = #}
            $($(".rc-container")[0]).animate({left: -(Math.abs(currentOffset) + (incrementAmount - Math.abs(Math.min(0, overhang - incrementAmount))))}, animationSpeed);
{#            //Time to move <-- that way#}
        } else if(direction == 'right') {
{#            //Time to move --> this way#}
            $($(".rc-container")[0]).animate({left: -(Math.max(0, Math.abs(currentOffset)-incrementAmount))}, animationSpeed);
        } else {
            console.error("You are broken");
        }
    }
{#    //Need a function that makes sure expanding the window after scrolling to the end doesn't break the layout#}
    </script>

{% endblock %}