{% extends "base.html" %}
{% block head_area %}
    <style>
    .login-form {
        display: table;
        margin: 10px auto;
    }
    </style>
{% endblock %}
{% block page_content %}
    {% block page_options %}{% endblock %}
    <form class="pure-form pure-form-stacked login-form" action="{% url 'login' %}" method="post">
    <fieldset>
        {% csrf_token %}
        <label for="email">Email</label>
        <input id="email" type="text" name="username" placeholder="Email">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password">
        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
    <hr/>
    {% if notwelcome.invalid %}
        <h4>Invalid Username/Password combination</h4>
    {% elif notwelcome.disabled %}
        <h4>This account has been disabled</h4>
    {% endif %}
{% endblock %}