{% extends "base.html" %}
{% block page_content %}
    {% block page_options %}{% endblock %}
{#    <div style="height: 200px"></div>#}
        <form class="panel" action="" method="post">
            {% csrf_token %}
            <div class="">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="password">
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="pure-button pure-button-default">submit</button>
            </div>
        </form>
    <hr/>
    {% if notwelcome.invalid %}
        <h4>Invalid Username/Password combination</h4>
    {% elif notwelcome.disabled %}
        <h4>This account has been disabled</h4>
    {% endif %}
{% endblock %}