{% extends "base.html" %}
{% load staticfiles %}
{% block page_name %}Photo {{ photo }}{% endblock %}
{% block head_area %}
    <style>
    .preview-wrapper {
        position: relative;
        background-color: #000;
    }
    .preview-wrapper img {
        margin: 0 auto;
    }

    .preview-wrapper:hover .go-back-hover {
        opacity: 1;
    }

    .go-back-hover:hover {
{#        opacity: 1;#}
    }


    .go-back-hover {
        position: absolute;
        top: 20px;
        left: 20px;
        border: 1px solid #BBBBBB;
        color: #BBBBBB;
        text-align: center;
        padding: 10px;
        background-color: rgba(40, 40, 40, 0.84);
        cursor: pointer;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
           -moz-transition: opacity 1s ease-in-out;
             -o-transition: opacity 1s ease-in-out;
            -ms-transition: opacity 1s ease-in-out;
                transition: opacity 1s ease-in-out;
    }

    .addToLightbox {
        cursor: pointer;
    }

    .lightbox-modal-select button {
        display: block;
    }

    </style>
{% endblock %}
{% block page_option_info %}Stock Number: {{ photo.id|stringformat:"05d" }}{% endblock %}
{% block page_option_add_to_lightbox %}<span class="addToLightbox" onclick="addToLightboxClicked()"><span class="glyphicon glyphicon-plus"></span> Add to Lightbox</span>{% endblock %}
{% block page_option_extra_item %}{% endblock %}
{% block page_content %}
    <div class="preview-wrapper">
        <span class="go-back-hover" onclick="history.back()"><span class="glyphicon glyphicon-chevron-left"></span> Go Back</span>
        <img id="image-preview" src="{{ photo.image.url }}" class="img-responsive pretty-image" data-image-id="{{ photo.id }}">
    </div>
{#    <p>{% for tag in photo.tags.get_queryset %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>#}
{% endblock %}
{% block put_scripts_here %}
    <script>

    var originalLightboxes = new Array({% for lightbox in lightboxes %}{name: "{{ lightbox.name }}", id: {{ lightbox.id }}}{% if not forloop.last %}, {% endif %}{% endfor %});

    </script>
    <script src="{% static 'photo.js' %}"></script>
{% endblock %}