{% extends "base.html" %}
{% block page_name %}Photo {{ photo }}{% endblock %}
{% block head_area %}
    <style>
    .preview-wrapper {
        position: relative;
    }
    .preview-wrapper img {
        margin: 0 auto;
    }

    .preview-wrapper:hover .go-back-hover {
        opacity: 1;
    }

    .go-back-hover:hover {
{#        opacity: 1;#}
    }


    .go-back-hover {
        position: absolute;
        top: 20px;
        left: 20px;
        border: 1px solid #BBBBBB;
        color: #BBBBBB;
        text-align: center;
        padding: 10px;
        background-color: rgba(40, 40, 40, 0.84);
        cursor: pointer;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
           -moz-transition: opacity 1s ease-in-out;
             -o-transition: opacity 1s ease-in-out;
            -ms-transition: opacity 1s ease-in-out;
                transition: opacity 1s ease-in-out;
    }

    .addToLightbox {
        cursor: pointer;
    }

    .lightbox-modal-select button {
        display: block;
    }

    </style>
{% endblock %}
{% block page_option_info %}Stock Number: {{ photo.id|stringformat:"05d" }}{% endblock %}
{% block page_option_add_to_lightbox %}<span class="addToLightbox" onclick="addToLightboxClicked()"><span class="glyphicon glyphicon-plus"></span> Add to Lightbox</span>{% endblock %}
{% block page_option_extra_item %}{% endblock %}
{% block page_content %}
    <div class="preview-wrapper">
        <span class="go-back-hover" onclick="history.back()"><span class="glyphicon glyphicon-chevron-left"></span> Go Back</span>
        <img id="image-preview" src="{{ photo.image.url }}" class="img-responsive pretty-image" data-image-id="{{ photo.id }}">
    </div>
{#    <p>{% for tag in photo.tags.get_queryset %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>#}
{% endblock %}
{% block put_scripts_here %}
    <script>

    function addToLightboxClicked() {
        if(user_logged_in) {
            $('#addToLightboxModal').modal('show');
        } else {
            $('#loginModal').modal('show');
        }
    }

    var originalLightboxes = new Array({% for lightbox in lightboxes %}{name: "{{ lightbox.name }}", id: {{ lightbox.id }}}{% if not forloop.last %}, {% endif %}{% endfor %});

            $(document).ready(function() {
                if(originalLightboxes.length == 0) {
{#                    Will customize view           #}
                } else {
                    for (var i = 0; i < originalLightboxes.length; i++) {
                        addModalLightboxOption(originalLightboxes[i]);
                    }
                }
            });

    function lightboxDropdownSelected(sender) {
        var lightboxId = $(sender).attr("data-lightbox-id");
        var imageId = $("#image-preview").attr("data-image-id");
        console.log("Add image " + imageId + " to lightbox " + lightboxId);
        $("#addToLightboxModal").modal('hide');
{#        var createLightboxLinkSpinner = new Spinner(smallSpinOpts).spin(document.getElementById('userProgressModalBody'));#}
        var $userProgressModal = $("#userProgressModal");
        $userProgressModal.modal('show');
        $.ajax({
            url: "{% url 'user_lightbox_ajax' %}",
            type: "POST",
            data: {csrfmiddlewaretoken: csrftoken, transaction_type: 'add_photo', lightbox_id: lightboxId, image_id: imageId}
        }).success(function(data) {
            if(data.success== true) {
                showUserMessage("Successfully Added Image To Lightbox");
{#                $userProgressModal.modal('hide');#}
{#                createLightboxLinkSpinner.stop();#}
            }
        }).error(function(data) {

        });
    }
    </script>
{% endblock %}