{% extends "manage/manage_base.html" %}
{% block page_title %}Manage Features{% endblock %}
{% block head_area %}
    <style>
    .feature-management-wrapper {

    }
    .feature-wrapper {
        border: 1px solid #000000;
        padding: 10px;
        margin: 10px;
    }
    </style>
{% endblock %}
{% block content %}
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <img src="/media/{{ primary_feature_img }}" class="img-responsive">
        </div>
        <div class="col-lg-4">
            <form role="form" action="{% url 'manage_feature_upload' %}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="transaction_type" value="primary_feature">
                <div class="form-group">
                    <label>Target Gallery: <select name="primary_target_gallery">{% for gallery in galleries %}<option value="{{ gallery.id }}" {% if gallery.id|add:0 == primary_target_gallery|add:0 %}selected{% endif %}>{{ gallery }}</option>{% endfor %}</select></label>
                </div>
                <div class="form-group">
                    <label>Primary Feature Heading<input type="text" class="form-control" size="40" name="primary_feature_heading" value="{{ primary_feature_heading }}"></label>
                </div>
                <div class="form-group">
                    <label>Primary Feature Subheading<input type="text" class="form-control" size="40" name="primary_feature_subheading" value="{{ primary_feature_subheading }}"></label>
                </div>
                <div class="form-group">
                    <label>Select new file: <input type="file" class="form-control" name="primary_feature_img"></label>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <img src="/media/{{ secondary_feature_img }}" class="img-responsive">
        </div>
        <div class="col-lg-6">
            <form role="form" action="{% url 'manage_feature_upload' %}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="transaction_type" value="secondary_feature">
                <div class="form-group">
                    <label>Target Gallery: <select name="secondary_target_gallery">{% for gallery in galleries %}<option value="{{ gallery.id }}" {% if gallery.id|add:0 == secondary_target_gallery|add:0 %}selected{% endif %}>{{ gallery }}</option>{% endfor %}</select></label>
                </div>
                <div class="form-group">
                    <label>Secondary Feature Heading<input type="text" class="form-control" size="40" name="secondary_feature_heading" value="{{ secondary_feature_heading }}"></label>
                </div>
                <div class="form-group">
                    <label>Secondary Feature Subheading<input type="text" class="form-control" size="40" name="secondary_feature_subheading" value="{{ secondary_feature_subheading }}"></label>
                </div>
                <div class="form-group">
                    <label>Select new file: <input type="file" class="form-control" name="secondary_feature_img"></label>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
    <hr>
{% endblock %}
{% block put_script_tags_here %}
    <script>

    </script>
{% endblock %}