{% extends "manage/manage_base.html" %}
{% load staticfiles %}
{% block page_title %}Gallery: {{ gallery.name }}{% endblock %}
{% block head_area %}
    <link href="{% static 'bootstrap-tagsinput.css' %}" rel="stylesheet">
    <style>
        .image-thumbnail {
            max-width: 300px;
            max-height: 300px;
        }
    .image-container {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .tag-item {
        background-color: rgb(214, 214, 214);
    }
    .tag-item:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: rgb(245, 245, 245);
    }
    .add-tag-textbox {
        width: 180px;
    }
    .image-manipulation-buttons {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .image-manipulation-buttons li {
        display: table-cell;
        text-align: center;
{#        border-right: 1px dotted #919293;#}
    }
    .image-manipulation-buttons li:last-child {
        border-right: 0;
    }
    </style>
{% endblock %}
{% block content %}
    <span style="font-size: 24pt">Gallery: <strong>{{ gallery.name }}</strong></span>
    <br>
    <span style="font-size: 12pt; font-weight: bold"><span style="font-style: italic; font-size: 16pt">Contains {{ images.count }} image{{ images.count|pluralize }}</span>&nbsp;&nbsp;<a href="{% url 'manage_upload' %}?target={{ gallery.pk }}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span></a><label style="float: right;">Active <input type="checkbox" value="{{ gallery.id }}" onclick="galleryActiveToggle(this)"></label></span>
    <hr />
    {% for image in images %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title"><label>Title: <input value="{{ image.title }}" onkeyup="if(event.keyCode == 13) {updateImageName({{ image.id }}, this)}"></label><span style="float: right; font-weight: bold;">Stock Number: <strong>{{ image.id }}</strong></span></span>
            </div>
            <div class="panel-body">
                <img src="{{ image.thumbnail.url }}">
                <hr>
                <label>Tags: <input type="text" data-tags-for="{{ image.id }}" class="taginput" value="{% for tag in image.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}"></label>
            </div>
            <div class="panel-footer">
                <label>Published <input value="{{ image.id }}" type="checkbox" onclick="updateImagePublished({{ image.id }}, this)" {% if image.published %}checked=""{% endif %}></label>
                <span style="float: right">
                    <a class="btn btn-sm btn-primary" href="{% url 'manage_photo_by_id' image.id %}">Edit</a>
                    <button class="btn btn-sm btn-danger" value="{{ image.id }}" onclick="deleteImage(this)">Delete</button>
                </span>
            </div>
        </div>
   {% empty %}
        <h1 style="color: #757575; font-style: italic; font-weight: 200;">There are no images in this gallery...<a href="{% url 'manage_upload' %}?target={{ gallery.pk }}">Click Here</a> to add some</h1>
    {% endfor %}
{% endblock %}
{% block put_script_tags_here %}<script src="{% static 'bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'typeahead.js' %}"></script>
    <script>

    $(".taginput").tagsinput({
        tagClass: function(item) {
            return 'label label-primary';
        },
        typeahead: {
            source: function(query) {
                return $.getJSON('{% url 'manage_tag_json' %}');
            }
        }
    });
   function postTagsToServer(imageId, tags) {
        $.ajax({
                url: "{% url 'manage_tag_json' %}",
                method: "POST",
                data: {transaction_type: "update_tags", csrfmiddlewaretoken: csrftoken, tag_list: tags, photoId: imageId}
            }).success(function() {
                //Show spnner next to stuff -- you can even use $target.attr("data-internal-id") to find which image in the list it is
            }).error(function() {
                showUserErrorMessage("Unable to update tag(s)");
            });
    }

    $('input.taginput').on('change', function (e) {
        postTagsToServer(e.target.getAttribute("data-tags-for"), e.target.value);
    });


    function updateImageAttribute(imageId, attribute, value, successCallback, failureCallback) {
        $.ajax({
            type: "POST",
            url: '{% url 'manage_photo_json' %}',
            data: {csrfmiddlewaretoken: csrftoken, photoPk: imageId, transaction_type: attribute, value: value}
        }).done(successCallback).error(failureCallback);
    }


    function updateImageName(id, sender) {
        updateImageAttribute(id, "title", sender.value, function() {
            console.log("Success!");
            sender.blur();
        }, function() {
            showuserProgressMessage(false, "");
            console.log("Fail");
        });
        console.log("Set image " + id  + " to have title " + sender.value);
    }

    function updateImagePublished(id, sender) {
        updateImageAttribute(id, "published", (sender.checked?"true":"false"), function() {
            console.log("Updated Publish Status")
        }, function(){
            showUserErrorMessage("Unable to " + (sender.checked?"":"un") + "publish photo " + id);
            if(sender.checked) {
                sender.checked = false;
            } else {
                sender.checked = true;
            }
        });
    }

    function deleteImage(sender) {
        if(confirm("Are you sure you want to delete image " + sender.value + "?")) {
            updateImageAttribute(sender.value, 'delete', 'confirm', function(data) {
                $(sender).parents(".panel").hide(500);
                console.log(data);
            }, function() {
                showUserErrorMessage("Unable to delete image " + sender.value);
            });
        }
    }


    </script>
{% endblock %}