{% extends "manage/manage_base.html" %}
{% load staticfiles %}
{% block page_title %}Photo: {{ image }}{% endblock %}
{% block head_area %}
    <link href="{% static 'bootstrap-tagsinput.css' %}" rel="stylesheet">
    <style>
    .main-table {
{#        display: table;#}
        padding: 20px;
        width: 100%;
        background-color: #e6e8e9;
    }
    .main-table div:first-child {
        border-top: 0;
    }
    .table-row {
        border-top: 1px dotted #525253;
        margin: 20px 0;
{#        display: table-row;#}
{#        border-bottom: solid white 30px;#}
    }
    .image-thumbnail {
        max-height: 400px;
        max-width: 400px;
    }


    .image-release ul {
        display: table;
        table-layout: fixed;
        width: 200px;
        padding: 0;
        margin: 0;
    }
    .image-release ul li {
        display: table-cell;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .image-release ul li label {
        font-weight: normal;
    }
    .text-area {
        width: 100%;
        resize: vertical;
    }
    </style>
{% endblock %}
{% block content %}
    <h1>Edit Photo</h1>
    <div class="main-table">
        <div class="table-row"><h4>Photo ID: <strong>{{ image.pk }}</strong></h4></div>
        <div class="table-row">
            <label><h4>Title: </h4><input type="text" value="{{ image.title }}" size="40" onkeyup="if(event.keyCode == 13) {updateImageName({{ image.id }}, this)}"></label>
        </div>
        <div class="table-row">
            <h4>Image:</h4>
            <a href="{{ image.image.url }}" target="_blank"><img class="image-thumbnail" src="{{ image.thumbnail.url }}"></a>
        </div>
{#        <div class="table-row">#}
{#           data-toggle="collapse" data-target="#description-box"#}
{#            <h4>Description:</h4>#}
{#            <div id="description-box" class="collapse">#}
{#                <span style="font-style: italic" >For ID purposes only, not displayed on website.</span><br />#}
{#                <textarea class="text-area" rows="5" placeholder="Nothing defined...">{{ image.description }}</textarea>#}
{#            </div>#}
{#        </div>#}
        <div class="table-row">
            <h4>Tags:</h4>
            <input type="text" id="tagsinput" class="typeahead" value="{% for tag in image.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}">
{#                <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#newTabModal"><span class="glyphicon glyphicon-plus"></span></button></h4>#}
{#            <textarea class="text-area">{% for tag in image.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</textarea>#}
{#            <select name="tags-selector" style="height: 300px" multiple>#}
{#                {% for tag in tags %}#}
{#                    <option value="{{ tag.pk }}"#}
{#                            {% for image_tag in image.tags.all %}#}
{#                                {% if image_tag.pk ==  tag.pk %} selected{% endif %}#}
{#                            {% endfor %}>{{ tag }}</option>>#}
{#                {% endfor %}#}
{#            </select>#}

        </div>
        <div class="table-row">
            <h4>Published:</h4>
            <input type="checkbox" class="published-checkbox" value="{{ image.pk }}" {% if image.published %}checked{% endif %} />
        </div>
        <div class="table-row"><h4>Galleries:</h4>
            <ul style="list-style: none; margin: 0; padding: 0">{% for gallery in galleries %}
                    <li><label><input type="checkbox" value="{{ gallery.pk }}" onclick="updateImageGalleries(this)" {% for image_gallery in image.gallery.all %}{% if image_gallery.pk ==  gallery.pk %} checked="" {% endif %}{% endfor %}>&nbsp;{{ gallery.name }}</label></li>{% endfor %}
            </ul>
{#            <select name="in_galleries" multiple>{% for gallery in galleries %}#}
{#                    <option value="{{ gallery.pk }}"{% for image_gallery in image.gallery.all %}{% if image_gallery.pk ==  gallery.pk %} selected{% endif %}{% endfor %}>{{ gallery.name }}</option>>{% endfor %}#}
{#            </select>#}
        </div>
        <div class="image-release table-row">
            <h4>Model Release:</h4>
            <ul>
            <li><label>Yes <input onclick="updateImageRelease(this)" name="model_release" value="0" type="radio" {% if image.model_release == 0 %}checked{% endif %} /></label></li>
            <li><label>No <input onclick="updateImageRelease(this)"  name="model_release" value="1" type="radio" {% if image.model_release == 1 %}checked{% endif %} /></label></li>
            <li><label>N/A <input onclick="updateImageRelease(this)"  name="model_release" value="2" type="radio" {% if image.model_release == 2 %}checked{% endif %} /></label></li>
            </ul>
        </div>
        <div class="image-release table-row">
            <h4>Property Release:</h4>
            <ul>
            <li><label>Yes <input onclick="updateImageRelease(this)"  name="property_release" value="0" type="radio" {% if image.property_release == 0 %}checked{% endif %} /></label></li>
            <li><label>No <input onclick="updateImageRelease(this)"  name="property_release" value="1" type="radio" {% if image.property_release == 1 %}checked{% endif %} /></label></li>
            <li><label>N/A <input onclick="updateImageRelease(this)"  name="property_release" value="2" type="radio" {% if image.property_release == 2 %}checked{% endif %} /></label></li>
            </ul>
        </div>
        <div class="table-row">
            <h4>Attributes:</h4>
            <label>Color <input type="checkbox" name="attr_color" value="{{ image.id }}" {% if image.attr_color %}checked="true"{% endif %} onclick="setImageAttributes(this)"></label><br>
            <label>Black & White <input type="checkbox" name="attr_black_white" value="{{ image.id }}" {% if image.attr_black_white %}checked="true"{% endif %} onclick="setImageAttributes(this)"></label><br>
            <label>Horizontal <input type="checkbox" name="attr_horizontal" value="{{ image.id }}" {% if image.attr_horizontal %}checked="true"{% endif %} onclick="setImageAttributes(this)"></label><br>
            <label>Vertical <input type="checkbox" name="attr_vertical" value="{{ image.id }}" {% if image.attr_vertical %}checked="true"{% endif %} onclick="setImageAttributes(this)"></label><br>
            <label>Panoramic <input type="checkbox" name="attr_panoramic" value="{{ image.id }}" {% if image.attr_panoramic %}checked="true"{% endif %} onclick="setImageAttributes(this)"></label>
        </div>
        <div  class="table-row">
            <br>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Danger Zone</h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-danger btn-md" onclick="deleteImage(this)">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px"><!-- ALL THE MODS --></div>

    <div class="modal fade" id="newTabModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="newTabModalLabel">New Tag</h4>
          </div>
          <div class="modal-body">
              <label>Tag: <input type="text" name="newTagName" /></label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block put_script_tags_here %}<script src="{% static 'bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'typeahead.js' %}"></script>
    <script>
    function updateImageAttribute(imageId, attribute, value, successCallback, failureCallback) {
        $.ajax({
            type: "POST",
            url: '{% url 'manage_photo_json' %}',
            data: {csrfmiddlewaretoken: csrftoken, photoPk: imageId, transaction_type: attribute, value: value}
        }).done(successCallback).error(failureCallback);
    }


    function updateImageName(id, sender) {
        updateImageAttribute(id, "title", sender.value, function() {
            console.log("Success!");
        }, function() {
            showuserProgressMessage(false, "");
            console.log("Fail");
        });
        console.log("Set image " + id  + " to have title " + sender.value);
    }

    function updateImagePublished(id, sender) {
        updateImageAttribute(id, "published", (sender.checked?"true":"false"), function() {
            console.log("Updated Publish Status")
        }, function(){
            showUserErrorMessage("Unable to " + (sender.checked?"":"un") + "publish photo " + id);
            if(sender.checked) {
                sender.checked = false;
            } else {
                sender.checked = true;
            }
        });
    }

    function deleteImage(sender) {
        if(confirm("Are you sure you want to delete this image?")) {
            updateImageAttribute({{ image.id }}, 'delete', 'confirm', function(data) {
                alert("Image deleted");
                history.back();
            }, function() {
                showUserErrorMessage("Unable to delete image " + sender.value);
            });
        }
    }

    function setImageAttributes(sender) {
        updateImageAttribute(sender.value, sender.name, sender.checked, function(data) {
            if(JSON.parse(data).success == true) {
                //Awesome
            } else {
                console.log(data);
                showUserErrorMessage("Unable to update attribute status...");
            }
        }, function(data) {
            console.log(data);
            sender.checked = (sender.checked?false:true);
            showUserErrorMessage("Unable to update attribute status...");
        });
        console.log("Set image " + sender.value + " to " + (sender.checked?"":"not ") + "have attribute " + sender.name);
    }

    function updateImageRelease(sender) {
        updateImageAttribute({{ image.id }}, sender.name, sender.value, function() {

        }, function() {
            showUserErrorMessage("Unable to update photo's release attribute");
        });
    }

    function updateImageGalleries(sender) {
        $.ajax({
            type: "POST",
            url: '{% url 'manage_photo_json' %}',
            data: {csrfmiddlewaretoken: csrftoken, transaction_type: 'photo-gallery-relation', photoPk:{{ image.pk }}, galleryPk: parseInt(sender.value), makeBreak: sender.checked}
        }).success(function(data) {
            console.log(data);
        }).error(function(data) {
            showUserErrorMessage("Unable to add image to gallery ");
            console.log(data);
        });
    }

    // # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
    // # # # # # # # # # # # # # # # # # # # # # Tag Troubles! # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
    // # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

    var imageTags = new Array({% for tag in image.tags.get_queryset %}"{{ tag }}"{% if not forloop.last %}, {% endif %}{% endfor %})
    var server_global_tag_array = new Array({% for tag in tags %}"{{ tag }}"{% if not forloop.last %}, {% endif %}{% endfor %});


    var ourPrettyLittleTagsInput = $("#tagsinput");
    ourPrettyLittleTagsInput.tagsinput({
        tagClass: function(item) {
            return 'label label-primary';
        },
        typeahead: {
            source: server_global_tag_array
        }
    });


    var typeahead = $(".typeahead").typeahead({source: server_global_tag_array }).data('typeahead');

    function postTagsToServer(inputValue) {
        $.ajax({
                url: "{% url 'manage_tag_json' %}",
                method: "POST",
                data: {transaction_type: "update_tags", csrfmiddlewaretoken: csrftoken, tag_list: inputValue, photoId: {{ image.id }}}
            }).done(function() {
                //Show spnner next to stuff -- you can even use $target.attr("data-internal-id") to find which image in the list it is
            }).error(function() {
                //Oh poopers
            });
    }

    ourPrettyLittleTagsInput.on('change', function (e) {
        var $target = $(e.target);
        if (typeahead.mousedover) {
            console.log("mousedover [ignored selection]");
            postTagsToServer($target.val())
        }
        else if ($.inArray($target.val(), server_global_tag_array) < 0) {
            console.log("show add");
            postTagsToServer($target.val())
        }
    }).on('selected', function () {
        console.log("selected");
    });
    </script>
{% endblock %}