{% extends "manage/manage_base.html" %}
{% block page_title %}Manage Features{% endblock %}
{% block head_area %}
    <style>

    </style>
{% endblock %}
{% block content %}
    <form action="" method="POST">
    <div class="feature-management-wrapper">
        <div class="primary-feature-wrapper">
            <img src="">
            <label>Select new file: <input type="file" name="primary-feature-input"></label>
        </div>
        <div class="secondary-feature-wrapper">
            <img src="">
            <label>Select new file: <input type="file" name="secondary-feature-input"></label>
        </div>
    </div>
    </form>
{% endblock %}
{% block put_script_tags_here %}
    <script>

    </script>
{% endblock %}