{% extends "manage/manage_base.html" %}
{% block page_title %}Photo: {{ image }}{% endblock %}
{% block head_area %}
    <style>
    .main-table {
{#        display: table;#}
        padding: 20px;
        width: 100%;
        background-color: #e6e8e9;
    }
    .main-table div:first-child {
        border-top: 0;
    }
    .main-table div {
        border-top: 1px dotted #525253;
        margin: 20px 0;
{#        display: table-row;#}
{#        border-bottom: solid white 30px;#}
    }
    .image-thumbnail {
        max-height: 400px;
        max-width: 400px;
    }


    .image-release ul {
        display: table;
        table-layout: fixed;
        width: 200px;
        padding: 0;
        margin: 0;
    }
    .image-release ul li {
        display: table-cell;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .image-release ul li label {
        font-weight: normal;
    }
    </style>
{% endblock %}
{% block content %}
    <h1>Edit Photo</h1>
    <div class="main-table">
        <div><h4>Photo ID: <strong>{{ image.pk }}</strong></h4></div>
        <div>
            <label><h4>Title: </h4><input type="text" value="{{ image.title }}" size="40" /></label>
        </div>
        <div>
            <h4>Image:</h4>
            <img class="image-thumbnail" src="{{ image.image.url }}" />
        </div>
        <div>
            <h4>Description:</h4>
            <span style="font-style: italic">For ID purposes only, not displayed on website.</span><br />
            <textarea cols="30" rows="5">{{ image.description }}</textarea>
        </div>
        <div>
            <h4>Tags:  <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#newTabModal"><span class="glyphicon glyphicon-plus"></span></button></h4>
            <select name="tags-selector" style="height: 300px" multiple>
                {% for tag in tags %}
                    <option value="{{ tag.pk }}"
                            {% for image_tag in image.tags.all %}
                                {% if image_tag.pk ==  tag.pk %} selected{% endif %}
                            {% endfor %}>{{ tag }}</option>>
                {% endfor %}
            </select>

        </div>
        <div>
            <h4>Published:</h4>
            <input type="checkbox" class="published-checkbox" value="{{ image.pk }}" {% if image.published %}checked{% endif %} /></div>
        <div><h4>Galleries:</h4>
            <ul style="list-style: none; margin: 0; padding: 0">{% for gallery in galleries %}
                    <li><input type="checkbox" value="{{ gallery.pk }}"{% for image_gallery in image.gallery.all %}{% if image_gallery.pk ==  gallery.pk %} checked="" {% endif %}{% endfor %} />&nbsp;{{ gallery.name }}</li>{% endfor %}
            </ul>
{#            <select name="in_galleries" multiple>{% for gallery in galleries %}#}
{#                    <option value="{{ gallery.pk }}"{% for image_gallery in image.gallery.all %}{% if image_gallery.pk ==  gallery.pk %} selected{% endif %}{% endfor %}>{{ gallery.name }}</option>>{% endfor %}#}
{#            </select>#}
        </div>
        <div class="image-release">
            <h4>Model Release:</h4>
            <ul>
            <li><label>Yes <input name="model_release" type="radio" {% if image.model_release == 0 %}checked{% endif %} /></label></li>
            <li><label>No <input name="model_release" type="radio" {% if image.model_release == 1 %}checked{% endif %} /></label></li>
            <li><label>N/A <input name="model_release" type="radio" {% if image.model_release == 2 %}checked{% endif %} /></label></li>
            </ul>
        </div>
        <div class="image-release">
            <h4>Property Release:</h4>
            <ul>
            <li><label>Yes <input name="property_release" type="radio" {% if image.property_release == 0 %}checked{% endif %} /></label></li>
            <li><label>No <input name="property_release" type="radio" {% if image.property_release == 1 %}checked{% endif %} /></label></li>
            <li><label>N/A <input name="property_release" type="radio" {% if image.property_release == 2 %}checked{% endif %} /></label></li>
            </ul>
        </div>
        <div>
            <h4>Attributes:</h4>
            <ul style="padding: 0; margin: 0; list-style: none;">{% for image_attribute in image_attributes %}
                    <li><input type="checkbox" value="{{ image_attribute.pk }}"{% for image_image_attr in image.image_attributes.all %}{% if image_image_attr.pk ==  image_attribute.pk %} checked="" {% endif %}{% endfor %} />&nbsp;{{ image_attribute }}</li>{% endfor %}
            </ul>
{#            <select name="image_attributes" multiple>{% for image_attribute in image_attributes %}#}
{#                    <option value="{{ image_attribute.pk }}"{% for image_image_attr in image.image_attributes.all %}{% if image_image_attr.pk ==  image_attribute.pk %} selected{% endif %}{% endfor %}>{{ image_attribute }}</option>>{% endfor %}#}
{#            </select>#}
        </div>
    </div>

    <div class="modal fade" id="newTabModal" tabindex="-1" role="dialog" aria-labelledby="newTabModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="newTabModalLabel">New Tag</h4>
          </div>
          <div class="modal-body">
              <label>Tag: <input type="text" name="newTagName" /></label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group" style="position: fixed; margin: 0; padding: 0; right: 15px; bottom: 15px;">
        <button type="button" class="btn btn-lg btn-primary">Cancel</button>
        <button type="button" class="btn btn-lg btn-danger">Delete</button>
        <button type="button" class="btn btn-lg btn-success">Save</button>
    </div>

{% endblock %}