{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Management Suite | {% block page_title %}Main{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
{#        <link rel="stylesheet" href="{% static "style.css" %}">#}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>#}
        {% block head_area %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h1>Welcome, {{ user.first_name }}</h1>
                <a href="{% url "manage_home" %}">Manage Main</a>
                <br>
                <br>
                <form action="{% url 'login' %}" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" id="csrf_input" value="">
                    <button name="logout" class="btn btn-default" type="submit">Logout</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                {% block content %}
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Management Areas</h3>
                            <ul style="list-style: none">
                                <li><a href="{% url "manage_gallery" %}">Galleries</a></li>
                                <li><a href="{% url "manage_gallery_cover" %}">Gallery Covers</a></li>
                                <li><a href="{% url "manage_photos" %}">Individual Photos</a></li>
                                <li><a href="{% url "manage_clients" %}">Clients</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3>Quick Links</h3>
                            <ul style="list-style: none">
                                <li><a href="{% url 'manage_upload' %}">Upload</a></li>
                                <li><a href="{% url 'manage_feature_upload' %}">Set Features</a></li>
                                <li><a href="{% url 'manage_orphan_photos' %}">Manage Orphaned Photos</a></li>
                                <li><a href="{% url 'manage_prefs' %}">Manage Preferences</a> (coming soon)</li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="messageModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <h1 style="text-align: center; margin: 10px;" class="message-modal-header"></h1>
                <span style="text-align: center; font-size: 200px; display: block; margin: 30px auto;" class="glyphicon glyphicon-refresh spin"></span>
            </div>
        </div>
    </div>

   <div class="modal fade" tabindex="-1" id="errorMessageModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <h3 style="text-align: center; margin: 10px;" class="error-message-modal-header"></h3>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>


    <script>
    var URL_MANAGE_GALLERY = "{% url 'manage_gallery' %}";
    </script>
    <script src="{% static 'manage-base.js' %}"></script>
    {% block put_script_tags_here %}{% endblock %}
    </body>
</html>